.password-box {
  background-color: black;
  height: 30%;
  width: 90%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 2%;
  padding: 10px;
  padding-left: 30px;
}
.password-box>div{
  width: 100%;
  overflow-x: scroll;
  margin-right: 15px;
  cursor: pointer;
}
.delete-btn{
  position: relative;
  right: -15%;
}

@media only screen and (max-width: 600px) {
  .password-box{
    width: 80%;
  }
  .password-box>div{
    font-size: 10px;
  }
  .delete-btn{
    right: -8%;
  }
}